#comicNameSection {
  margin: 5px 0px;
}

#lastUpdateDateSection {
  margin: 5px 0px;
}

.selectedComicName {
  padding: 5px 10px;
  background-color: firebrick;
  color: white;
  border-radius: 3px;
} 