.inputText {
  border: 0.5px solid gray;
  border-radius: 3px;
  padding: 6px;
}

.lastViewInput {
  width: 50px;
  text-align: center;
  margin: 0px 10px;
}

.lastUpdateDateSection {
  display: inline-block;
  margin-right: 10px;
}

.lastUpdateDateEditSection {
  display: inline-block;
}

.refreshListSection {
  display: inline-block;
  margin-left: 10px;
}

#comicNameSection {
  border-radius: 3px;
  padding: 5px 10px;
}

#comicDescriptionSection {
  padding: 5px 10px;
}

.selectedComicName {
  background-color: firebrick;
  color: white;
}